In [36]:
import pandas as pd

In [80]:
file_path = "./files_new/df_20TABLE_kor_명세서일반내역.xlsx"
df_20TABLE_org = pd.read_excel(file_path)
df_20TABLE_org
df_month_age = df_20TABLE_org[["수진자연령","요양개시일자", "심결본인부담금"]]
df_month_age

df_age_any = pd.DataFrame()
for i in range(0, 101, 10):
    
    df_age = df_month_age[(df_month_age["수진자연령"] >= i) & \
                    (df_month_age["수진자연령"] < i+10)]
    df_age = df_age.reset_index(drop=True)
    if i < 10 :
        df_age["연령대"] = "9세이하"
    else : 
        df_age["연령대"] = "{}대".format(i)
    df_age
    df_age_any = pd.concat([df_age_any, df_age], ignore_index=True)

    df_age_any["요양개시일자"] = df_age_any["요양개시일자"].astype(str)
    df_age_any["요양개시월"] = df_age_any["요양개시일자"].str[4 : 6]

df_age_any

      수진자연령    요양개시일자  심결본인부담금   연령대 요양개시월
0         3  20131211     2900  9세이하    12
1         6  20130129     2800  9세이하    01
2         3  20130130     2700  9세이하    01
3         6  20130130     6500  9세이하    01
4         6  20130502     2800  9세이하    05
...     ...       ...      ...   ...   ...
5626     94  20130423     1500   90대    04
5627     94  20130709     1500   90대    07
5628     94  20131208     1500   90대    12
5629     94  20130401     1500   90대    04
5630     94  20130416      900   90대    04

[5631 rows x 5 columns]

In [79]:
file_path = "./files_new/df_20TABLE_kor_명세서일반내역.xlsx"
df_20TABLE_org = pd.read_excel(file_path)
df_month_age = df_20TABLE_org[["수진자연령","요양개시일자", "심결본인부담금"]]


df_age_any = pd.DataFrame()
for i in range(0, 101, 10):
    
    df_age = df_month_age[(df_month_age["수진자연령"] >= i) & \
                    (df_month_age["수진자연령"] < i+10)]
    df_age = df_age.reset_index(drop=True)
    df_age["연령대"] = "{}대이하".format(i+10)
    df_age
    df_age_any = pd.concat([df_age_any, df_age], ignore_index=True)

    df_age_any["요양개시일자"] = df_age_any["요양개시일자"].astype(str)
    df_age_any["요양개시월"] = df_age_any["요양개시일자"].str[4 : 6]

df_age_any

      수진자연령    요양개시일자  심결본인부담금     연령대 요양개시월
0         3  20131211     2900   10대이하    12
1         6  20130129     2800   10대이하    01
2         3  20130130     2700   10대이하    01
3         6  20130130     6500   10대이하    01
4         6  20130502     2800   10대이하    05
...     ...       ...      ...     ...   ...
5626     94  20130423     1500  100대이하    04
5627     94  20130709     1500  100대이하    07
5628     94  20131208     1500  100대이하    12
5629     94  20130401     1500  100대이하    04
5630     94  20130416      900  100대이하    04

[5631 rows x 5 columns]

In [81]:
file_path = "./files_new/df_20TABLE_kor_명세서일반내역.xlsx"
df_20TABLE_org = pd.read_excel(file_path)
df_month_age = df_20TABLE_org[["수진자연령","요양개시일자", "심결본인부담금"]]

df_list = {}
df_final = pd.DataFrame()

for i in range(0,91,10):
    df_list[f'{i}대'] = df_month_age[(df_month_age['수진자연령'] >= i+0) & (df_month_age['수진자연령'] <= i+9)].reset_index(drop =True)
    df_list[f'{i}대']['연령대'] = f'{i+9}세 이하'
    df_list[f'{i}대']['요양개시월'] = df_list[f'{i}대']['요양개시일자'].astype(str).str[4:6]
    df_final = pd.concat([df_final,df_list[f'{i}대']])

df_final

    수진자연령    요양개시일자  심결본인부담금     연령대 요양개시월
0       3  20131211     2900   9세 이하    12
1       6  20130129     2800   9세 이하    01
2       3  20130130     2700   9세 이하    01
3       6  20130130     6500   9세 이하    01
4       6  20130502     2800   9세 이하    05
..    ...       ...      ...     ...   ...
5      94  20130423     1500  99세 이하    04
6      94  20130709     1500  99세 이하    07
7      94  20131208     1500  99세 이하    12
8      94  20130401     1500  99세 이하    04
9      94  20130416      900  99세 이하    04

[5631 rows x 5 columns]