In [142]:
# 첫번째 파일 읽어 들인 후 조회해주세요.
# 변수명 : kto_201901 사용

In [143]:
import pandas as pd

kto_201901 = pd.read_excel("./files/kto_201901.xlsx", header=1, skipfooter=4, usecols="A:G")
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [144]:
kto_201901.info() # 결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [145]:
kto_201901.describe() # 이상치 확인

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [146]:
# 관광 또는 상용 또는 공용 또는 유학/연수의 값 중에 0이 있는 데이터만 조회하기

condition = (kto_201901["관광"] == 0) | \
            (kto_201901["상용"] == 0) | \
            (kto_201901["공용"] == 0) | \
            (kto_201901["유학/연수"] == 0)
condition

0     False
1     False
2     False
3     False
4      True
      ...
62    False
63     True
64     True
65     True
66     True
Length: 67, dtype: bool

In [147]:
print(len(kto_201901[condition]))
kto_201901[condition]

13

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [148]:
# 기준년월 컬럼을 만들고 값은 2019-01로 넣어주세요
kto_201901["기준년월"] = "2019-01"
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [149]:
# 특정 컬럼의 고유한 데이터만 조회하기
kto_201901["국적"].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [150]:
continents_list = ['아시아주', '미주', '구주', '대양주',
                    '아프리카주', '기타대륙', '교포소계']
continents_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [151]:
# 국적 데이터에서 continents_list에 대륙 이름이 없는 것만 필터링하기..
condition = kto_201901["국적"].isin(continents_list)
condition

0      True
1     False
2     False
3     False
4     False
      ...
62    False
63     True
64    False
65     True
66    False
Name: 국적, Length: 67, dtype: bool

In [152]:
kto_201901_country = kto_201901[condition == False]
kto_201901_country.head(1)

   국적      관광    상용   공용  유학/연수    기타       계     기준년월
1  일본  198805  2233  127    785  4576  206526  2019-01

In [153]:
kto_201901_country["국적"].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [154]:
kto_201901_country_newindex = kto_201901_country.reset_index(drop=True) # drop = True 기존의 index 값 삭제
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [155]:
# 아시아, 아메리카, 유럽, 오세아니아, 아프리카, 기타대륙, 교포
continents = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23 + \
             ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]
print(len(continents))
continents

60

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '오세아니아',
 '오세아니아',
 '오세아니아',
 '아프리카',
 '아프리카',
 '기타대륙',
 '교포']

In [156]:
kto_201901_country_newindex["대륙"] = continents
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [157]:
kto_201901_country_newindex.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙
0   일본  198805  2233  127    785  4576  206526  2019-01  아시아
1   대만   86393    74   22    180  1285   87954  2019-01  아시아
2   홍콩   34653    59    2     90  1092   35896  2019-01  아시아
3  마카오    2506     2    0     17    45    2570  2019-01  아시아
4   태국   34004    37  199     96  6998   41334  2019-01  아시아

In [158]:
# 각 국가별 국내에 관광을 위해 입국하는 관광객 비율(%)
# 관광객비율(%) = 관광/계 *100 (소숫점 첫째자리까지)
kto_201901_country_newindex["관광객비율(%)"] = round(kto_201901_country_newindex["관광"] / kto_201901_country_newindex["계"] *100, 1)
kto_201901_country_newindex.sort_values(by = "관광객비율(%)", ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [159]:
# 대륙별 관광객비율(%)의 평균 (pivot_table)
kto_201901_country_newindex.pivot_table(values = "관광객비율(%)",
                                                index = "대륙",
                                                aggfunc = "mean")

        관광객비율(%)
대륙
교포      0.000000
기타대륙   61.100000
아메리카   68.200000
아시아    59.624000
아프리카   32.700000
오세아니아  84.833333
유럽     63.826087

In [160]:
kto_201901_country_newindex[kto_201901_country_newindex["국적"] == "중국"]

    국적      관광    상용   공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)
17  중국  320113  2993  138   8793  60777  392814  2019-01  아시아      81.5

In [161]:
kto_201901_country_newindex.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)
0   일본  198805  2233  127    785  4576  206526  2019-01  아시아      96.3
1   대만   86393    74   22    180  1285   87954  2019-01  아시아      98.2
2   홍콩   34653    59    2     90  1092   35896  2019-01  아시아      96.5
3  마카오    2506     2    0     17    45    2570  2019-01  아시아      97.5
4   태국   34004    37  199     96  6998   41334  2019-01  아시아      82.3

In [174]:
# 컬럼명 : 전체비율(%) : 전체 관광 대비 각 국가별 관광
kto_201901_country_newindex["전체비율(%)"] = \
                            round(kto_201901_country_newindex["관광"] / \
                                  sum(kto_201901_country_newindex["관광"]) * 100, 1)
kto_201901_country_newindex.head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8

In [175]:
# 전체 116개 통합하기
# 통합에 사용할 데이터프레임 변수명 : df
# 전체 통합 후 조회하기

In [182]:
import pandas as pd

In [ ]:
for yyyy in range(2010, 2020, 1) :
    for mm in range(1, 13, 1):
        print(str(yyyy) + str(mm).zfill(2))

201001
201002
201003
201004
201005
201006
201007
201008
201009
201010
201011
201012
201101
201102
201103
201104
201105
201106
201107
201108
201109
201110
201111
201112
201201
201202
201203
201204
201205
201206
201207
201208
201209
201210
201211
201212
201301
201302
201303
201304
201305
201306
201307
201308
201309
201310
201311
201312
201401
201402
201403
201404
201405
201406
201407
201408
201409
201410
201411
201412
201501
201502
201503
201504
201505
201506
201507
201508
201509
201510
201511
201512
201601
201602
201603
201604
201605
201606
201607
201608
201609
201610
201611
201612
201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912

In [249]:
df = pd.DataFrame()

for yyyy in range(2010, 2020, 1) :
    for mm in range(1, 13, 1) :
        file_path = "./files/kto_" +str(yyyy)+str(mm).zfill(2)+".xlsx"
        sto = pd.read_excel(file_path, header=1, skipfooter=4, usecols="A:G")
        print(sto)

         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  329131  18238  421   4339  80916  433045
1        일본  202825   1750   89    549   3971  209184
2        대만   35788     41   17     37    516   36399
3        홍콩   13874     55    0     21    595   14545
4       마카오     554      0    0      0      0     554
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     349    594   25     86    296    1350
63     기타대륙      10      3    0      0      0      13
64     국적미상      10      3    0      0      0      13
65     교포소계       0      0    0      0  22537   22537
66       교포       0      0    0      0  22537   22537

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  383125  13711  364  33910  84396  515506
1        일본  224475   1455   63   1172   3197  230362
2        대만   35758     45   18    234    596   36651
3        홍콩   22462     47    0     65    477   23051
4       마카오     916      0    0      2      0     918
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     413    588   25    147    301    1474
63     기타대륙       6      0    0      1      3      10
64     국적미상       6      0    0      1      3      10
65     교포소계       0      0    0      0  21338   21338
66       교포       0      0    0      0  21338   21338

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  448566  21479  577  17065  114342  602029
1        일본  299820   1483  124    519    4180  306126
2        대만   27050     45   12     93     694   27894
3        홍콩   17226     81    1     21     595   17924
4       마카오     434      0    0      1       0     435
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     736    826   90    132     533    2317
63     기타대륙      20      1    0      0       0      21
64     국적미상      20      1    0      0       0      21
65     교포소계       0      0    0      0   27781   27781
66       교포       0      0    0      0   27781   27781

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  441816  20886  634   2697  95195  561228
1        일본  233697   1282   74    154   3868  239075
2        대만   32835     38    8     26    611   33518
3        홍콩   19382     67    3     12    753   20217
4       마카오     473      0    0      0      0     473
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     695    670   58     32    437    1892
63     기타대륙      14      1    0      0      0      15
64     국적미상      14      1    0      0      0      15
65     교포소계       0      0    0      0  27697   27697
66       교포       0      0    0      0  27697   27697

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  423953  20166  926   3585  105845  554475
1        일본  233311   1480  150    216    6538  241695
2        대만   32405     40    8     38     835   33326
3        홍콩   15552     62    4     15     751   16384
4       마카오     347      0    0      0       1     348
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     919    638  155     23     441    2176
63     기타대륙      19      2    0      0       1      22
64     국적미상      19      2    0      0       1      22
65     교포소계       0      0    0      0   27460   27460
66       교포       0      0    0      0   27460   27460

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  414268  19730  766   4325  100708  539797
1        일본  226786   1236   81    358    3257  231718
2        대만   32156     60    6     59     546   32827
3        홍콩   16918     51    1     22     657   17649
4       마카오     556      0    0      1       0     557
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     981    648   87     46     416    2178
63     기타대륙       8      1    0      0       0       9
64     국적미상       8      1    0      0       0       9
65     교포소계       0      0    0      0   28956   28956
66       교포       0      0    0      0   28956   28956

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  439238  17272  599   5655  116574  579338
1        일본  221590   1279   76    323    4273  227541
2        대만   35086     37    1     52     775   35951
3        홍콩   19599     42    3      8     806   20458
4       마카오     532      0    0      0       1     533
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     901    588   69     68     375    2001
63     기타대륙      15      1    0      0       1      17
64     국적미상      15      1    0      0       1      17
65     교포소계       0      0    0      0   28148   28148
66       교포       0      0    0      0   28148   28148

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  491695  18378  677  31861  119853  662464
1        일본  254178   1616  103   1238    5022  262157
2        대만   37078     57    5    329     592   38061
3        홍콩   20053     61    0    114     768   20996
4       마카오     962      1    0      2       1     966
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     770    525   53    234     541    2123
63     기타대륙       8      0    0      0       2      10
64     국적미상       8      0    0      0       2      10
65     교포소계       0      0    0      0   26298   26298
66       교포       0      0    0      0   26298   26298

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  450210  17665  755  13537  114180  596347
1        일본  259846   1791  147    576    5526  267886
2        대만   31511     43    5    105     620   32284
3        홍콩   13404     39    0     22     841   14306
4       마카오     385      1    0      3       2     391
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     988    567   57     91     380    2083
63     기타대륙      10      3    0      0       1      14
64     국적미상      10      3    0      0       1      14
65     교포소계       0      0    0      0   26715   26715
66       교포       0      0    0      0   26715   26715

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  538103  20162  932   3852  113231  676280
1        일본  295488   1270   85    199    5528  302570
2        대만   39087     55    1     36     650   39829
3        홍콩   21148     62    0      8     809   22027
4       마카오     812      0    0      0       1     813
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타    1075    921  103     25     473    2597
63     기타대륙      21      1    0      0       3      25
64     국적미상      21      1    0      0       3      25
65     교포소계       0      0    0      0   29508   29508
66       교포       0      0    0      0   29508   29508

[67 rows x 7 columns]
         국적      관광     상용    공용  유학/연수     기타       계
0      아시아주  465380  20016  1161   2956  90760  580273
1        일본  268947   1370   153    231   4188  274889
2        대만   34557     34     1     44    455   35091
3        홍콩   18845     64     1     11    697   19618
4       마카오     913      0     0      0      1     914
..      ...     ...    ...   ...    ...    ...     ...
62  아프리카 기타     904    828   147     20    403    2302
63     기타대륙      11      0     0      0      4      15
64     국적미상      11      0     0      0      4      15
65     교포소계       0      0     0      0  26142   26142
66       교포       0      0     0      0  26142   26142

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  422740  16303  461   4340  93888  537732
1        일본  224684   1325   61    231   3505  229806
2        대만   23851     44    1     84    541   24521
3        홍콩   20595     50    0     33    729   21407
4       마카오    1226      1    0      1      0    1228
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     488    578   37     26    501    1630
63     기타대륙      21      0    0      0      0      21
64     국적미상      21      0    0      0      0      21
65     교포소계       0      0    0      0  26914   26914
66       교포       0      0    0      0  26914   26914

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  328100  15077  389   4051  98868  446485
1        일본  189601   1697  115    557   4331  196301
2        대만   24653     25    0     51    662   25391
3        홍콩   14083     36    0     21    785   14925
4       마카오     508      0    0      0      0     508
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     440    694   32     83    436    1685
63     기타대륙       3      0    0      0      2       5
64     국적미상       3      0    0      0      2       5
65     교포소계       0      0    0      0  22658   22658
66       교포       0      0    0      0  22658   22658

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  364035  13540  318  40393  114481  532767
1        일본  213970   1828   70   1310    4140  221318
2        대만   23463     49    8    316     635   24471
3        홍콩   21075     28    0     72     583   21758
4       마카오     679      0    0      0       1     680
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     485    579   31    221     508    1824
63     기타대륙       9      0    0      0       1      10
64     국적미상       9      0    0      0       1      10
65     교포소계       0      0    0      0   21519   21519
66       교포       0      0    0      0   21519   21519

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  445711  16586  480  14877  133156  610810
1        일본  262003   1364  102    525    4361  268355
2        대만   24907     44    5     99     777   25832
3        홍콩   17752     41    0     34     728   18555
4       마카오     553      0    0      1       0     554
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     625    540   34    113     600    1912
63     기타대륙       8      1    0      0       0       9
64     국적미상       8      1    0      0       0       9
65     교포소계       0      0    0      0   30429   30429
66       교포       0      0    0      0   30429   30429

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  436265  16562  528   3474  118647  575476
1        일본  213645   1271   52    224    4950  220142
2        대만   31169     75    0     35     703   31982
3        홍콩   25070     43    0      9     692   25814
4       마카오     638      1    0      1       1     641
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타    1054    544   61     31     506    2196
63     기타대륙      16      0    0      0       0      16
64     국적미상      16      0    0      0       0      16
65     교포소계       0      0    0      0   28367   28367
66       교포       0      0    0      0   28367   28367

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  427457  18076  646   4794  111812  562785
1        일본  229017   1614   58    274    3663  234626
2        대만   27611     93    1     44     852   28601
3        홍콩   18603     52    0     12     722   19389
4       마카오     448      0    0      0       3     451
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타    1212    483   75     28     496    2294
63     기타대륙      11      0    0      0       1      12
64     국적미상      11      0    0      0       1      12
65     교포소계       0      0    0      0   27841   27841
66       교포       0      0    0      0   27841   27841

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  482500  16702  696   5288  118898  624084
1        일본  249397   1482   72    428    3493  254872
2        대만   40344     52    1     90     805   41292
3        홍콩   24111     49    0     15     798   24973
4       마카오    1148      0    0      5      33    1186
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타    1101    464   95     46     544    2250
63     기타대륙       3      0    0      0      31      34
64     국적미상       3      0    0      0      31      34
65     교포소계       0      0    0      0   28541   28541
66       교포       0      0    0      0   28541   28541

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  564012  16034  627   6294  119101  706068
1        일본  269455   1422   69    375    3996  275317
2        대만   46240     50    3     47     858   47198
3        홍콩   25556     38    0      9     879   26482
4       마카오     985      0    0      0      10     995
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     935    534   29     82     485    2065
63     기타대륙      14      0    0      0      19      33
64     국적미상      14      0    0      0      19      33
65     교포소계       0      0    0      0   28389   28389
66       교포       0      0    0      0   28389   28389

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  621058  15656  582  31243  128716  797255
1        일본  315693   1773   92   1411    6958  325927
2        대만   45863     64    6    356     946   47235
3        홍콩   25987     39    0    133     889   27048
4       마카오    1450      0    0      4      18    1472
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타    1210    433   87    233     664    2627
63     기타대륙      10      0    0      0       3      13
64     국적미상      10      0    0      0       3      13
65     교포소계       0      0    0      0   27845   27845
66       교포       0      0    0      0   27845   27845

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  575462  16526  776  14988  128094  735846
1        일본  312686   1836   72    653    5984  321231
2        대만   36209     66    4    126     800   37205
3        홍콩   17871     43    0     38     836   18788
4       마카오     949      1    0      1       6     957
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타    1038    531   31     90     601    2291
63     기타대륙       9      3    0      0       1      13
64     국적미상       9      3    0      0       1      13
65     교포소계       0      0    0      0   28116   28116
66       교포       0      0    0      0   28116   28116

[67 rows x 7 columns]
         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  638621  17696  1197   4797  120167  782478
1        일본  332700   1513   111    277    5571  340172
2        대만   42980     66     0     37     919   44002
3        홍콩   26948     39     0      6     727   27720
4       마카오     839      0     0      0       2     841
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타    1910    623   230     37     588    3388
63     기타대륙      16      3     3      0       0      22
64     국적미상      16      3     3      0       0      22
65     교포소계       0      0     0      0   29744   29744
66       교포       0      0     0      0   29744   29744

[67 rows x 7 columns]
         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  577150  17615  1246   3625  103459  703095
1        일본  325057   1513   347    286    4518  331721
2        대만   37560     54     5     45     832   38496
3        홍콩   24926     42     0     10     692   25670
4       마카오    1177      1     0      0       0    1178
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타    1292    710   251     37     579    2869
63     기타대륙      20      1     0      0       0      21
64     국적미상      20      1     0      0       0      21
65     교포소계       0      0     0      0   26565   26565
66       교포       0      0     0      0   26565   26565

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  572133  13833  611   4928  97638  689143
1        일본  293435   1444  111    383   3696  299069
2        대만   35468     47    2     80    906   36503
3        홍콩   29033     24    1     27    642   29727
4       마카오    2181      0    0      1      2    2184
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     701    452   27     39    526    1745
63     기타대륙      14      0    0      0      1      15
64     국적미상      14      0    0      0      1      15
65     교포소계       0      0    0      0  27246   27246
66       교포       0      0    0      0  27246   27246

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  476976  11529  418   7753  106484  603160
1        일본  235585   2456  141    757    5431  244370
2        대만   41833     64   11     79     938   42925
3        홍콩   31524     28    0     26     628   32206
4       마카오    1578      0    0      0       0    1578
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     569    478   14    111     552    1724
63     기타대륙       6      1    0      0       0       7
64     국적미상       6      1    0      0       0       7
65     교포소계       0      0    0      0   23709   23709
66       교포       0      0    0      0   23709   23709

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  492641  12838  472  33624  121870  661445
1        일본  287950   1288  117   1105    3857  294317
2        대만   43508     45    4    205     952   44714
3        홍콩   21373     18    0     72     716   22179
4       마카오    1052      0    0      7       2    1061
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타     554    612   18    393     551    2128
63     기타대륙       7      0    0      0       2       9
64     국적미상       7      0    0      0       2       9
65     교포소계       0      0    0      0   22073   22073
66       교포       0      0    0      0   22073   22073

[67 rows x 7 columns]
         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  607266  15263  1353  15208  105212  744302
1        일본  353455   1718   171    946    4429  360719
2        대만   34633     48     2    150     791   35624
3        홍콩   22805     24     0     38     731   23598
4       마카오     916      0     0      5       0     921
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     985    812    31    144     423    2395
63     기타대륙      13      3     0      1       0      17
64     국적미상      13      3     0      1       0      17
65     교포소계       0      0     0      0   28459   28459
66       교포       0      0     0      0   28459   28459

[67 rows x 7 columns]
         국적      관광     상용   공용  유학/연수      기타       계
0      아시아주  653548  15282  889   3323  104336  777378
1        일본  291877   1510  127    247    4895  298656
2        대만   42231     75    2     29     864   43201
3        홍콩   34818     35    1     21     688   35563
4       마카오    1690      1    0      1       1    1693
..      ...     ...    ...  ...    ...     ...     ...
62  아프리카 기타    1080    747   93     50     582    2552
63     기타대륙      12      2    1      0       0      15
64     국적미상      12      2    1      0       0      15
65     교포소계       0      0    0      0   29054   29054
66       교포       0      0    0      0   29054   29054

[67 rows x 7 columns]
         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  617067  16016  1050   4195  115130  753458
1        일본  306488   1914   125    377    7694  316598
2        대만   40636     66     5     50    1028   41785
3        홍콩   23450     37     1     17     758   24263
4       마카오    1061      0     0      1       4    1066
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타    1266    615   105     65     702    2753
63     기타대륙       6      0     0      0       1       7
64     국적미상       6      0     0      0       1       7
65     교포소계       0      0     0      0   29413   29413
66       교포       0      0     0      0   29413   29413

[67 rows x 7 columns]
         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  637564  14015  1214   5418  101304  759515
1        일본  296274   1492   103    627    3887  302383

FileNotFoundError: [Errno 2] No such file or directory: './files/kto_201909.xlsx'

### 문제 풀이

In [252]:
df = pd.DataFrame()

for y in range(2010, 2020, 1) : 
      for m in range(1, 13, 1) :
            try : 
                  # 처리필요
                  file_nm = str(y) + str(m).zfill(2)
                  file_path = "./files/kto_{}.xlsx".format(file_nm)
                  kto_201901 = pd.read_excel(file_path, header=1, skipfooter=4, usecols="A:G")

                  #처리필요
                  kto_201901["기준년월"] = str(y) + "-" + str(m).zfill(2)

                  continents_list = ['아시아주', '미주', '구주', '대양주',
                                    '아프리카주', '기타대륙', '교포소계']

                  condition = kto_201901["국적"].isin(continents_list)
                  kto_201901_country = kto_201901[condition == False]
                  kto_201901_country_newindex = kto_201901_country.reset_index(drop=True)
                  continents = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23 + \
                              ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]
                  kto_201901_country_newindex["대륙"] = continents
                  kto_201901_country_newindex["관광객비율(%)"] = round(kto_201901_country_newindex["관광"] / kto_201901_country_newindex["계"] *100, 1)
                  kto_201901_country_newindex["전체비율(%)"] = \
                                          round(kto_201901_country_newindex["관광"] / \
                                                sum(kto_201901_country_newindex["관광"]) * 100, 1)
                  df = pd.concat([df, kto_201901_country_newindex], ignore_index=True)

            except :
                  pass

In [253]:
df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,85.2,0.0
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.6,0.1
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.8,0.2
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.2,0.0
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0

In [254]:
df.to_excel("./files/kto_total.xlsx", index = False)