In [1]:
# sample 파일 총 24를 읽어들여서
# sample_total 데이터프레임에 합쳐서 넣을 겁니다.
# 최종 컬럼 : 국적코드, 성별, 입국객수, 기준년월, 국적명
# sample_total 조회
# 기준년월 : 각 파일당 2019년 01월 ~ 2020년 12월 값 사용

# 총 데이터 행의 수 계산(검증) : 1개 파일의 행의 수 x 24개 파일

In [2]:
import pandas as pd

In [7]:
for y in range(2019, 2021,1):
    for m in range(1, 13, 1):
        print(str(y) + "-" + str(m).zfill(2))

2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01
2020-02
2020-03
2020-04
2020-05
2020-06
2020-07
2020-08
2020-09
2020-10
2020-11
2020-12

In [8]:
code_master = pd.read_excel("./files2/sample_codemaster.xlsx")

In [9]:
file_path = "./files2/sample(0).xlsx"
sample = pd.read_excel(file_path, header=1, skipfooter=2, usecols="A:C")
sample

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [12]:
code_master = pd.read_excel("./files2/sample_codemaster.xlsx")
i = 0
sample_total = pd.DataFrame()

for y in range(2019, 2021, 1):
    for m in range(1, 13, 1):
        # print(str(y) + "-" + str(m))

        file_path = "./files2/sample({}).xlsx".format(i)
        sample = pd.read_excel(file_path, header=1, skipfooter=2, usecols="A:C")
        i += 1

        sample["기준년월"] = str(y) + "-" + str(m).zfill(2)
        sample_end = pd.merge(sample, code_master, how="left")

        sample_total = pd.concat([sample_total, sample_end])

sample_total

   국적코드  성별    입국객수     기준년월  국적명
0   A01  남성  106320  2019-01   일본
1   A01  여성  191436  2019-01   일본
2   A31  남성     319  2019-01  NaN
3   A31  여성      42  2019-01  NaN
4   A18  남성  158912  2019-01   중국
..  ...  ..     ...      ...  ...
1   A01  여성  191436  2020-12   일본
2   A31  남성     319  2020-12  NaN
3   A31  여성      42  2020-12  NaN
4   A18  남성  158912  2020-12   중국
5   A18  여성  232943  2020-12   중국

[144 rows x 5 columns]

In [13]:
import pandas as pd

In [19]:
kto_201001 = pd.read_excel("./files/kto_201001.xlsx", header=1, usecols="A:G", skipfooter=4)
kto_201001

         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  329131  18238  421   4339  80916  433045
1        일본  202825   1750   89    549   3971  209184
2        대만   35788     41   17     37    516   36399
3        홍콩   13874     55    0     21    595   14545
4       마카오     554      0    0      0      0     554
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     349    594   25     86    296    1350
63     기타대륙      10      3    0      0      0      13
64     국적미상      10      3    0      0      0      13
65     교포소계       0      0    0      0  22537   22537
66       교포       0      0    0      0  22537   22537

[67 rows x 7 columns]

In [24]:
kto_201001["기준년월"] = "2010-01"
kto_201001

         국적      관광     상용   공용  유학/연수     기타       계     기준년월
0      아시아주  329131  18238  421   4339  80916  433045  2010-01
1        일본  202825   1750   89    549   3971  209184  2010-01
2        대만   35788     41   17     37    516   36399  2010-01
3        홍콩   13874     55    0     21    595   14545  2010-01
4       마카오     554      0    0      0      0     554  2010-01
..      ...     ...    ...  ...    ...    ...     ...      ...
62  아프리카 기타     349    594   25     86    296    1350  2010-01
63     기타대륙      10      3    0      0      0      13  2010-01
64     국적미상      10      3    0      0      0      13  2010-01
65     교포소계       0      0    0      0  22537   22537  2010-01
66       교포       0      0    0      0  22537   22537  2010-01

[67 rows x 8 columns]

In [25]:
kto_201001["국적"].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [26]:
continents_list = ['아시아주', '미주', '구주', '대양주',
                    '아프리카주', '기타대륙', '교포소계']
continents_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [29]:
condition = kto_201001["국적"].isin(continents_list)
condition

0      True
1     False
2     False
3     False
4     False
      ...
62    False
63     True
64    False
65     True
66    False
Name: 국적, Length: 67, dtype: bool

In [34]:
kto_201001_country = kto_201001[condition == False]
kto_201001_country

          국적      관광     상용    공용  유학/연수     기타       계     기준년월
1         일본  202825   1750    89    549   3971  209184  2010-01
2         대만   35788     41    17     37    516   36399  2010-01
3         홍콩   13874     55     0     21    595   14545  2010-01
4        마카오     554      0     0      0      0     554  2010-01
5         태국   13374     39    13     53   4335   17814  2010-01
6      말레이시아    3292     61     0     49   1157    4559  2010-01
7        필리핀    3984    219   104     87  16820   21214  2010-01
8      인도네시아    1840    327     3     65   2826    5061  2010-01
9       싱가포르    4201    120     3     27   1017    5368  2010-01
10       미얀마     630     18    54     10   3882    4594  2010-01
11       베트남    1384    284    21    150   2676    4515  2010-01
12        인도    1646   1387     7     68   2918    6026  2010-01
13      스리랑카      39     28     2     13    566     648  2010-01
14      파키스탄      70    200     1     41    402     714  2010-01
15     방글라데시      86     84     9     42    489     710  2010-01
16      캄보디아     102     22     0     25    131     280  2010-01
17        몽골    2333    234     6    197    554    3324  2010-01
18        중국   40425  11930    55   2751  36091   91252  2010-01
19        이란      69    309     0      3    217     598  2010-01
20      이스라엘     792     11     0      0     53     856  2010-01
21        터키     472     15     2     15    465     969  2010-01
22    우즈베키스탄     190    293    17     40    740    1280  2010-01
23     카자흐스탄     238     48     4     22    107     419  2010-01
24       GCC     223    134     0     18     55     430  2010-01
25    아시아 기타     700    629    14     56    333    1732  2010-01
27        미국   26943   1195  2145    135  12647   43065  2010-01
28       캐나다    4912     96     4     21   3743    8776  2010-01
29       멕시코     252     29     1      4     93     379  2010-01
30       브라질     459     46     1     11    248     765  2010-01
31     미주 기타     501     25     8     29    291     854  2010-01
33        영국    5746    383     4     20   1368    7521  2010-01
34        독일    5838    255    24     68   1458    7643  2010-01
35       프랑스    3019    343    44    115   1145    4666  2010-01
36      네덜란드    1205     47     1     20    449    1722  2010-01
37       스웨덴     579     63     5     17    185     849  2010-01
38       스위스     512     30     0      7     77     626  2010-01
39      이탈리아    1157     40    12     12    155    1376  2010-01
40       덴마크     378     28     0      5     94     505  2010-01
41      노르웨이     517    274     0      6    149     946  2010-01
42       벨기에     322     25     1      8    104     460  2010-01
43     오스트리아     440     13     2      9    141     605  2010-01
44       스페인     542     29    11      8    108     698  2010-01
45       그리스     345     47     0      0    213     605  2010-01
46      포르투갈     256      9     0      1     44     310  2010-01
47       핀란드     376     16     0     12    131     535  2010-01
48      아일랜드     311     16     0      1    198     526  2010-01
49     우크라이나     386     29     0      6   1515    1936  2010-01
50       러시아    4861    505    15     83   5409   10873  2010-01
51     크로아티아     166     20     0      1    298     485  2010-01
52      루마니아     142     12     0      9    370     533  2010-01
53      불가리아     103      0     0      9    414     526  2010-01
54       폴란드     378     29     0     10    431     848  2010-01
55     구주 기타    1219     37     0     49    410    1715  2010-01
57   오스트레일리아    6974    340     9     10   1098    8431  2010-01
58      뉴질랜드    1545     53     1      1    435    2035  2010-01
59    대양주 기타     730      0     4      4    168     906  2010-01
61  남아프리카공화국     214     27     0      2    545     788  2010-01
62   아프리카 기타     349    594    25     86    296    1350  2010-01
64      국적미상      10      3     0      0      0      13  2010-01
66        교포       0      0     0      0  22537   22537  2010-01

In [36]:
kto_201001_country_newindex = kto_201001_country.reset_index(drop=True)
kto_201001_country_newindex

          국적      관광     상용    공용  유학/연수     기타       계     기준년월
0         일본  202825   1750    89    549   3971  209184  2010-01
1         대만   35788     41    17     37    516   36399  2010-01
2         홍콩   13874     55     0     21    595   14545  2010-01
3        마카오     554      0     0      0      0     554  2010-01
4         태국   13374     39    13     53   4335   17814  2010-01
5      말레이시아    3292     61     0     49   1157    4559  2010-01
6        필리핀    3984    219   104     87  16820   21214  2010-01
7      인도네시아    1840    327     3     65   2826    5061  2010-01
8       싱가포르    4201    120     3     27   1017    5368  2010-01
9        미얀마     630     18    54     10   3882    4594  2010-01
10       베트남    1384    284    21    150   2676    4515  2010-01
11        인도    1646   1387     7     68   2918    6026  2010-01
12      스리랑카      39     28     2     13    566     648  2010-01
13      파키스탄      70    200     1     41    402     714  2010-01
14     방글라데시      86     84     9     42    489     710  2010-01
15      캄보디아     102     22     0     25    131     280  2010-01
16        몽골    2333    234     6    197    554    3324  2010-01
17        중국   40425  11930    55   2751  36091   91252  2010-01
18        이란      69    309     0      3    217     598  2010-01
19      이스라엘     792     11     0      0     53     856  2010-01
20        터키     472     15     2     15    465     969  2010-01
21    우즈베키스탄     190    293    17     40    740    1280  2010-01
22     카자흐스탄     238     48     4     22    107     419  2010-01
23       GCC     223    134     0     18     55     430  2010-01
24    아시아 기타     700    629    14     56    333    1732  2010-01
25        미국   26943   1195  2145    135  12647   43065  2010-01
26       캐나다    4912     96     4     21   3743    8776  2010-01
27       멕시코     252     29     1      4     93     379  2010-01
28       브라질     459     46     1     11    248     765  2010-01
29     미주 기타     501     25     8     29    291     854  2010-01
30        영국    5746    383     4     20   1368    7521  2010-01
31        독일    5838    255    24     68   1458    7643  2010-01
32       프랑스    3019    343    44    115   1145    4666  2010-01
33      네덜란드    1205     47     1     20    449    1722  2010-01
34       스웨덴     579     63     5     17    185     849  2010-01
35       스위스     512     30     0      7     77     626  2010-01
36      이탈리아    1157     40    12     12    155    1376  2010-01
37       덴마크     378     28     0      5     94     505  2010-01
38      노르웨이     517    274     0      6    149     946  2010-01
39       벨기에     322     25     1      8    104     460  2010-01
40     오스트리아     440     13     2      9    141     605  2010-01
41       스페인     542     29    11      8    108     698  2010-01
42       그리스     345     47     0      0    213     605  2010-01
43      포르투갈     256      9     0      1     44     310  2010-01
44       핀란드     376     16     0     12    131     535  2010-01
45      아일랜드     311     16     0      1    198     526  2010-01
46     우크라이나     386     29     0      6   1515    1936  2010-01
47       러시아    4861    505    15     83   5409   10873  2010-01
48     크로아티아     166     20     0      1    298     485  2010-01
49      루마니아     142     12     0      9    370     533  2010-01
50      불가리아     103      0     0      9    414     526  2010-01
51       폴란드     378     29     0     10    431     848  2010-01
52     구주 기타    1219     37     0     49    410    1715  2010-01
53   오스트레일리아    6974    340     9     10   1098    8431  2010-01
54      뉴질랜드    1545     53     1      1    435    2035  2010-01
55    대양주 기타     730      0     4      4    168     906  2010-01
56  남아프리카공화국     214     27     0      2    545     788  2010-01
57   아프리카 기타     349    594    25     86    296    1350  2010-01
58      국적미상      10      3     0      0      0      13  2010-01
59        교포       0      0     0      0  22537   22537  2010-01

In [37]:
continents = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23 + \
             ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]
print(len(continents))
continents

60

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '오세아니아',
 '오세아니아',
 '오세아니아',
 '아프리카',
 '아프리카',
 '기타대륙',
 '교포']

In [39]:
kto_201001_country_newindex["대륙"] = continents
kto_201001_country_newindex

          국적      관광     상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  202825   1750    89    549   3971  209184  2010-01    아시아
1         대만   35788     41    17     37    516   36399  2010-01    아시아
2         홍콩   13874     55     0     21    595   14545  2010-01    아시아
3        마카오     554      0     0      0      0     554  2010-01    아시아
4         태국   13374     39    13     53   4335   17814  2010-01    아시아
5      말레이시아    3292     61     0     49   1157    4559  2010-01    아시아
6        필리핀    3984    219   104     87  16820   21214  2010-01    아시아
7      인도네시아    1840    327     3     65   2826    5061  2010-01    아시아
8       싱가포르    4201    120     3     27   1017    5368  2010-01    아시아
9        미얀마     630     18    54     10   3882    4594  2010-01    아시아
10       베트남    1384    284    21    150   2676    4515  2010-01    아시아
11        인도    1646   1387     7     68   2918    6026  2010-01    아시아
12      스리랑카      39     28     2     13    566     648  2010-01    아시아
13      파키스탄      70    200     1     41    402     714  2010-01    아시아
14     방글라데시      86     84     9     42    489     710  2010-01    아시아
15      캄보디아     102     22     0     25    131     280  2010-01    아시아
16        몽골    2333    234     6    197    554    3324  2010-01    아시아
17        중국   40425  11930    55   2751  36091   91252  2010-01    아시아
18        이란      69    309     0      3    217     598  2010-01    아시아
19      이스라엘     792     11     0      0     53     856  2010-01    아시아
20        터키     472     15     2     15    465     969  2010-01    아시아
21    우즈베키스탄     190    293    17     40    740    1280  2010-01    아시아
22     카자흐스탄     238     48     4     22    107     419  2010-01    아시아
23       GCC     223    134     0     18     55     430  2010-01    아시아
24    아시아 기타     700    629    14     56    333    1732  2010-01    아시아
25        미국   26943   1195  2145    135  12647   43065  2010-01   아메리카
26       캐나다    4912     96     4     21   3743    8776  2010-01   아메리카
27       멕시코     252     29     1      4     93     379  2010-01   아메리카
28       브라질     459     46     1     11    248     765  2010-01   아메리카
29     미주 기타     501     25     8     29    291     854  2010-01   아메리카
30        영국    5746    383     4     20   1368    7521  2010-01     유럽
31        독일    5838    255    24     68   1458    7643  2010-01     유럽
32       프랑스    3019    343    44    115   1145    4666  2010-01     유럽
33      네덜란드    1205     47     1     20    449    1722  2010-01     유럽
34       스웨덴     579     63     5     17    185     849  2010-01     유럽
35       스위스     512     30     0      7     77     626  2010-01     유럽
36      이탈리아    1157     40    12     12    155    1376  2010-01     유럽
37       덴마크     378     28     0      5     94     505  2010-01     유럽
38      노르웨이     517    274     0      6    149     946  2010-01     유럽
39       벨기에     322     25     1      8    104     460  2010-01     유럽
40     오스트리아     440     13     2      9    141     605  2010-01     유럽
41       스페인     542     29    11      8    108     698  2010-01     유럽
42       그리스     345     47     0      0    213     605  2010-01     유럽
43      포르투갈     256      9     0      1     44     310  2010-01     유럽
44       핀란드     376     16     0     12    131     535  2010-01     유럽
45      아일랜드     311     16     0      1    198     526  2010-01     유럽
46     우크라이나     386     29     0      6   1515    1936  2010-01     유럽
47       러시아    4861    505    15     83   5409   10873  2010-01     유럽
48     크로아티아     166     20     0      1    298     485  2010-01     유럽
49      루마니아     142     12     0      9    370     533  2010-01     유럽
50      불가리아     103      0     0      9    414     526  2010-01     유럽
51       폴란드     378     29     0     10    431     848  2010-01     유럽
52     구주 기타    1219     37     0     49    410    1715  2010-01     유럽
53   오스트레일리아    6974    340     9     10   1098    8431  2010-01  오세아니아
54      뉴질랜드    1545     53     1      1    435    2035  2010-01  오세아니아
55    대양주 기타     730      0     4      4    168     906  2010-01  오세아니아
56  남아프리카공화국     214     27     0      2    545     788  2010-01   아프리카
57   아프리카 기타     349    594    25     86    296    1350  2010-01   아프리카
58      국적미상      10      3     0      0      0      13  2010-01   기타대륙
59        교포       0      0     0      0  22537   22537  2010-01     교포

In [43]:
kto_201001_country_newindex["관광객비율(%)"] = round(kto_201001_country_newindex["관광"] / kto_201001_country_newindex["계"] * 100 ,1)
kto_201001_country_newindex.head()

    국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)
0   일본  202825  1750  89    549  3971  209184  2010-01  아시아      97.0
1   대만   35788    41  17     37   516   36399  2010-01  아시아      98.3
2   홍콩   13874    55   0     21   595   14545  2010-01  아시아      95.4
3  마카오     554     0   0      0     0     554  2010-01  아시아     100.0
4   태국   13374    39  13     53  4335   17814  2010-01  아시아      75.1

In [50]:
kto_201001_country_newindex["전체비율(%)"] = \
     round(kto_201001_country_newindex["관광"] / \
         sum(kto_201001_country_newindex["관광"]) * 100,1) 

kto_201001_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2,0.8
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.8,1.0
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.4,0.5
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.3,1.0
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7,0.2
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.7,0.3
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3,0.4
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0,0.0
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8,0.0
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1,0.0
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4,0.0
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.2,0.6
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3,10.1
18,이란,69,309,0,3,217,598,2010-01,아시아,11.5,0.0
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5,0.2
20,터키,472,15,2,15,465,969,2010-01,아시아,48.7,0.1
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.8,0.0
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.8,0.1
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.9,0.1
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.4,0.2
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.6,6.7
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,56.0,1.2
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.5,0.1
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.0,0.1
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.7,0.1
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.4,1.4
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.4,1.5
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.7,0.8
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,70.0,0.3
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.2,0.1
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.8,0.1
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.1,0.3
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.9,0.1
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.7,0.1
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.0,0.1
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.7,0.1
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.7,0.1
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.0,0.1
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.6,0.1
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.3,0.1
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.1,0.1
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.9,0.1
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.7,1.2
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.2,0.0
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.6,0.0
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.6,0.0
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.6,0.1
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.1,0.3
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.7,1.7
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.9,0.4
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.6,0.2
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.2,0.1
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.9,0.1
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.9,0.0
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.0,0.0

In [ ]:
for y in range(2010, 2020, 1) :
    for m in range(1, 13, 1) :

In [4]:
df = pd.DataFrame()

for y in range(2010, 2020, 1) :
    for m in range(1, 13, 1) :

        file_nm = str(y) + str(m).zfill(2)
        file_path = "./files/kto_{}.xlsx".format(file_nm)
        kto_201001 = pd.read_excel(file_path, header=1, skipfooter=4, usecols="A:G")
        
        kto_201001["기준년월"] = str(y) + "-" + str(m).zfill(2)

        continents_list = ['아시아주', '미주', '구주', '대양주',
                            '아프리카주', '기타대륙', '교포소계']
        condition = kto_201001["국적"].isin(continents_list)                    
        kto_201001_country = kto_201001[condition == False]
        kto_201001_country_newindex = kto_201001_country.reset_index(drop=True)
        continents = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23 + \
                    ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]
        kto_201001_country_newindex["대륙"] = continents
        kto_201001_country_newindex["관광객비율(%)"] = round(kto_201001_country_newindex["관광"] / kto_201001_country_newindex["계"] * 100 ,1)
        kto_201001_country_newindex["전체비율(%)"] = \
            round(kto_201001_country_newindex["관광"] / \
                sum(kto_201001_country_newindex["관광"]) * 100,1) 
df

FileNotFoundError: [Errno 2] No such file or directory: './files/kto_201909.xlsx'