In [2]:
import pandas as pd

In [17]:
file_path = "./data/1.전국_전출지_전입지_이동자수.csv"
df = pd.read_csv(file_path, encoding="EUC-KR")
df

,전출지별,전입지별,2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,전출지별,전입지별,이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),...,이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명)
1,전국,전국,8226594,0,8127195,0,7506691,0,7411784,0,...,7154226,0,7297099,0,7104398,0,7735491,0,7213422,0
2,전국,서울특별시,1733015,-115023,1721748,-113058,1555281,-103647,1520090,-100550,...,1472937,-98486,1439707,-110230,1426493,-49588,1578127,-64850,1418187,-106243
3,전국,부산광역시,519334,-28466,508043,-24863,461042,-20610,478451,-17710,...,439073,-28398,416095,-26759,411704,-23354,491829,-14347,441323,-18903
4,전국,대구광역시,370817,-11840,370563,-12747,348642,-10564,351873,-11351,...,321182,-11936,321158,-14242,312419,-23673,347248,-16835,304761,-24319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,제주특별자치도,전라북도,672,114,561,-47,551,-84,516,-209,...,768,-346,902,-229,1032,-7,1007,-72,986,88
321,제주특별자치도,전라남도,1002,-27,1026,65,966,-96,1001,-47,...,1102,-322,1254,-36,1302,75,1466,197,1326,178
322,제주특별자치도,경상북도,738,-49,756,-33,699,-140,781,-133,...,994,-363,1146,-385,1229,-101,1181,-196,1261,-26
323,제주특별자치도,경상남도,1324,10,1367,71,1227,-166,1278,-195,...,1501,-1032,1780,-511,1825,-376,1861,-319,1947,-191
324,제주특별자치도,제주특별자치도,55507,0,59846,0,54280,0,60607,0,...,63275,0,65013,0,59808,0,61398,0,57877,0

In [16]:
df.drop([1,4])

,전출지별,전입지별,2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,전출지별,전입지별,이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),...,이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명),이동자수 (명),순이동자수 (명)
2,서울특별시,경기도,410735,124772,373771,101364,354135,99960,340801,94337,...,342433,107985,368536,135216,334293,91954,375867,109492,362116,124910
3,경기도,서울특별시,285963,-124772,272407,-101364,254175,-99960,246464,-94337,...,234448,-107985,233320,-135216,242339,-91954,266375,-109492,237206,-124910